* {
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Verdana;
  background:#8d8741;
}

/* Style the header */
.header {
    background-image:url("http://www.shopsite.com/templates/cookbook/theme-images/congruence-circles-brown.jpg");
    padding: 100px;
    text-align: left;
    color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #8d8741;
}

/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color:	#945b14;
    color: black;
}

/* indicate active page on nav */
#activepage {
    background-color: #659dbd;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #828345;
    padding: 10px;
    text-align: center;
}

.width50{
        width:50%;
}
.lightblock{
        background:#daad86;
        color:#8d8741;
}
.darkblock{
        background:#bc986a;
        color:#8d8741;
}
